{% extends 'base.html' %}
{% block content %}
<h3>Użytkownicy</h3>
<br/>
<div class="input-group">
	<a class="btn btn-dark" href="{% url 'register' %}">
	  Dodaj
	</a>
	<form method="get">
	  <div class="input-group">
		<input type="text" name="search" value="{{ q }}" placeholder=" Wyszukaj użytkownika ">
		<button class="btn btn-dark" type="submit">Szukaj</button>
	  </div>
	</form>
</div>
<br/>
<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapse"
				aria-expanded="false"
				>
				<div class="container text-start">
					<div class="row">
						<div class="col">#</div>
						<div class="col">Nazwa użytkownika</div>
						<div class="col">Imię</div>
						<div class="col">Nazwisko</div>
						<div class="col">Adres</div>
						<div class="col">Telefon</div>
						<div class="col">Rejestracja</div>
					</div>
				</div>
			</button>
		</h2>
	</div>
	{% if users %}
	{% for user in users %}
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading{{ user.id }}">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapse{{ user.id }}"
				>
				<div class="container text-start">
					<div class="row">
						<div class="col">{{user.id}}</div>
						<div class="col">{{user.username}}</div>
						<div class="col">{{user.first_name}}</div>
						<div class="col">{{user.last_name}}</div>
						<div class="col">{{user.userdata.phone_number}}</div>
						<div class="col">{{user.userdata.address}}</div>
						<div class="col">{{user.date_joined}}</div>
					</div>
				</div>
			</button>
		</h2>
		<div id="collapse{{ user.id }}" class="accordion-collapse collapse" data-bs-parent="#collapse{{ user.id }}">
			<div class="accordion-body">
				<div class="col btn-group" role="group">
					<a class="btn btn-dark" href="{% url 'rental_list_user' user.id %}">
					Wyświetl liste filmów
					</a>
					<a href="{% url 'user_edit' user.id %}" class="btn btn-dark">
					Edytuj
					</a>
					<a href="{% url 'user_remove' user.id %}" class="btn btn-danger">
					Usuń
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
<br/>
{% endblock %}