{% extends 'base.html' %}
{% block content %}
{% if rentals %}
<h3>Wypożyczone filmy</h3>
<form method="get">
    <div class="input-group">
        <input type="text" name="search" value="{{ q }}" placeholder=" Wyszukaj ">
        <button class="btn btn-dark" type="submit">Szukaj</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Film</th>
            <th scope="col">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>Użytkownik</strong>
                    </button>
                    <ul class="dropdown-menu">
                        {% if users %}
                        {% for user in users %}
                        <li><a class="dropdown-item" href="{% url 'rental_list_user' user.id %}">{{user.username}}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </th>
            <th scope="col">Data wypożyczena</th>
            <th scope="col">Data planowanego zwrotu</th>
            <th scope="col"> Zwrot </th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals %}
        <tr>
            <td scope="col-2"> {{rental.id}} </td>
            <td scope="col-2"> {{rental.film}} </td>
            <td scope="col-2"> {{rental.user}} </td>
            <td scope="col-2"> {{rental.rent_date}} </td>
            <td scope="col-2"> {{rental.planned_return_date}} a</td>
            <td scope="col-2"><a class="btn btn-dark" href="{% url 'film_return' rental.id %}"> Zwrot </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
Aktualnie nic nie jest wypożyczone.
{% endif %}
{% endblock %}