{% extends 'base.html' %}
{% block content %}
<h3>Filmy</h3>
<br/>
<div class="input-group">
  {% if user.is_staff %}
  <a class="btn btn-dark" href="{% url 'film_add' %}">
    Dodaj
  </a>
  {% endif %}
  <form method="get">
    <div class="input-group">
      <input type="text" name="search" value="{{ q }}" placeholder=" Wyszukaj">
      <button class="btn btn-dark" type="submit">Szukaj</button>
    </div>
  </form>
</div>
<br/>
{% include 'films/table.html' with films=films %}
<br/>
{% endblock %}